server {
  listen 443 default_server http2 ssl;
  listen [::]:443 default_server ssl;

  ssl_certificate     /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;

  server_name _;

  location / {
    return 404;
  }

  location /.well-known/acme-challenge/ {
    default_type "text/plain";
    root /var/spool/acme-challenge/;
  }
}
