{% extends 'base.html' %}
{% load allauth socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}{% trans 'Account Settings' %}{% endblock %}
{% block content %}
<h1>{% trans 'Account Settings' %}</h1>
{% crispy form %}
<p>
  <a href="{% url "account_change_password" %}" class="btn btn-warning">
    {% trans "Change Password" %}
  </a>
</p>
<p>
  <a href="{% url "account_email" %}" class="btn btn-warning">
    {% trans "Change Email" %}
  </a>
</p>
<p>
  {% if salsa_account %}
    {% blocktrans %}
      Connected to Salsa account <a href="{{ salsa_web_url }}">
        {{ salsa_username }} ({{ salsa_uid }})</a>.
    {% endblocktrans %}
    <a href="{% url "socialaccount_connections" %}" class="btn btn-warning">
      {% trans "Manage Connections" %}
    </a>
  {% else %}
    <a href="{% provider_login_url 'salsa' process='connect' %}" class="btn btn-warning">
      {% trans "Connect to Salsa" %}
    </a>
  {% endif %}
</p>
<h2>{% trans "Saved Bank Details:" %}</h2>
  {% if bank_details %}
    <table class="table table-striped">
      {% for k, v in bank_details.items %}
        <tr>
          <th>{{ k }}</th>
          <td>{{ v }}</td>
        </tr>
      {% endfor %}
    </table>
    <form method="post" action="{% url "profile-delete-bank-details" %}">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" name="delete" value="{% trans "Delete" %}">
    </form>
  {% else %}
    <p>{% trans "Not saved" %}</p>
  {% endif %}
{% endblock %}
