{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Profile' %}{% endblock %}
{% block content %}
<h1>{% trans 'Profile' %}</h1>
<h2>{% trans 'My Requests' %}</h2>
<ul>
  {% for request in request.user.request_set.all %}
    <li>
      {% translate "View" as action %}
      {% include "webui/includes/request-list-item.html" with request=request action=action %}
    </li>
  {% empty %}
    <li>{% trans 'No previous requests' %}</li>
  {% endfor %}
</ul>
<a href="{% url "request-new" %}" class="btn btn-secondary">New Request</a>
{% if reviewable %}
  <h2>{% trans 'Reviewable Requests' %}</h2>
  {% for group, requests in reviewable.items %}
    <h3>
      {% blocktrans with group=group %}
        For {{ group }}
      {% endblocktrans %}
    </h3>
    <ul>
      {% for request in requests %}
        <li>
          {% translate "Review" as action %}
          {% include "webui/includes/request-list-item.html" with request=request %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
{% if payable %}
  <h2>{% trans 'Payable Requests' %}</h2>
  {% for group, requests in payable.items %}
    <h3>
      {% blocktrans with group=group %}
        For {{ group }}
      {% endblocktrans %}
    </h3>
    <ul>
      {% for request in requests %}
        <li>
          {% translate "Pay" as action %}
          {% include "webui/includes/request-list-item.html" with request=request %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
{% endblock %}
