{% extends "base.html" %}
{% load allauth account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}
  {{ SITE_NAME }}: {% trans "Sign In" %}
{% endblock title %}
{% block extra_head %}
<style>
  #login-salsa-logo {
    display: block;
    height: 2em;
  }
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>{% trans "Login via Salsa:" %}</h2>
    <p>
      {% blocktrans %}
        If you have an account on <a
          href="https://salsa.debian.org/">Salsa</a>, please use Debian Salsa
        SSO.
      {% endblocktrans %}
    </p>
    <p>
      {% url "profile-edit" as profile_edit %}
      {% blocktrans %}
        If you have an existing account using a password, you can link it to
        Debian Salsa SSO after logging in with your password on the
        <a href="{{ profile_edit }}">Account Settings</a> page.
      {% endblocktrans %}
    </p>
    <div>
      <a class="btn btn-danger" href="{% provider_login_url 'salsa' %}">
        <img id="login-salsa-logo" src="{% static 'img/salsa-debian-icon.svg' %}">
          {% trans "Login with Debian Salsa SSO" %}
      </a>
    </div>
  </div>
  <div class="col-md-6">
    {% url 'account_signup' as signup_url %}
    {% url 'account_reset_password' as pass_reset_url %}
    <h2>{% trans "Newcomers to Debian:" %}</h2>
    <p>
      {% blocktrans %}
        You don't need to have a Salsa account, you can also
        <a href="{{ signup_url }}">sign up</a> with a username and
        password, and use them to login.
      {% endblocktrans %}
    </p>
    <div>
      <a class="btn btn-secondary" role="button" href="{{ signup_url }}">
        {% trans "Sign Up without SSO" %}
      </a>
    </div>
    <div>
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}
        <input class="btn btn-primary" type="submit" value="{% trans "Sign In" %}">
        <a class="btn btn-secondary" role="button" href="{{ pass_reset_url }}">
          {% trans "Forgot my password" %}
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
