{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
  {{ view.request_model.subject }}:
  {% if object.pk %}
    {% trans "Edit Receipt" %}
  {% else %}
    {% trans "New Receipt" %}
  {% endif %}
{% endblock %}
{% block content %}
<h1>
  {{ view.request_model.subject }}:
  {% if object.pk %}
    {% trans "Edit Receipt" %}
  {% else %}
    {% trans "New Receipt" %}
  {% endif %}
</h1>
{% if object.pk %}
  <form method="post" action="{% url "delete-receipt" view.request_model.id object.id %}" class="d-inline">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" name="delete"
           value="{% trans "Delete Receipt" %}">
  </form>
  <a class="btn btn-info" href="{% url "view-receipt-file" view.request_model.id object.id %}">View File</a>
{% endif %}
<form method="post" enctype="multipart/form-data" id="edit_form">
  {% crispy form %}
  <h2>{% trans "Receipt Lines" %}</h2>
  <div class="form-text">
    {% blocktrans %}
      Break up the receipt into lines, if necessary.
      Most of the time you only need a single line to capture a receipt, but
      you can use more, if you need to describe different expenses.
    {% endblocktrans %}
  </div>
  <div class="form-text">
    {% blocktrans %}
      Please accurately record the total (or, if necessary, lines) of the receipt.
      If you are not requesting full reimbursement for the invoice, list the
      relevant lines and values only and note that the request is partial, in
      the description.
    {% endblocktrans %}
  </div>
  <div class="form-text">
    {% blocktrans with currency=view.request_model.currency %}
      If you are using custom conversions, you can leave the "Amount converted to
      {{ currency }}" field blank to automatically calculate a mid-market
      conversion for a line.
    {% endblocktrans %}
  </div>
  {# https://github.com/django-crispy-forms/crispy-bootstrap5/issues/174 #}
  {% include "bootstrap5/errors_formset.html" %}
  {% crispy formset formset_helper %}
  <div class="fs-4 pb-3">
    {% trans "Total:" %}
    <span id="total">{% trans "Calculated by Javascript..." %}</span>
  </div>
  <a class="btn btn-secondary" id="add_line">{% trans "Add Line" %}</a>
  <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
</form>
{% endblock %}
{% block extra_foot %}
{{ valid_expense_types|json_script:"valid_expense_types"}}
<script>
  "use strict";
  (function() {
    const converted_amount_visible = ((visible) => {
      const hidden = !visible;
      const th = document.querySelector("form th[for$=-converted_amount]");
      th.hidden = hidden;
      document.querySelectorAll("form td[id$=-converted_amount]").forEach(td => {
        td.hidden = hidden;
      });
    });

    const custom_conversion_field = document.getElementById("id_custom_conversion");
    converted_amount_visible(custom_conversion_field.checked);

    // Empty all converted amounts if custom_conversion is disabled, to force
    // recalculation
    custom_conversion_field.addEventListener("change", (event) => {
      converted_amount_visible(custom_conversion_field.checked);
      if (!custom_conversion_field.checked) {
        const inputs = document.querySelectorAll("form input[id$=-converted_amount]");
        inputs.forEach(input => {input.value = "";});
      }
    });

    const update_total = function(event) {
      var totals = {};
      document.querySelectorAll("form tbody tr:not(.empty-form)").forEach(row => {
        const deleted = row.querySelector("input[id$=-DELETE").checked;
        const currency = row.querySelector("select[id$=-currency]").value;
        const amount = parseFloat(row.querySelector("input[id$=-amount]").value) || 0;
        if (!deleted) {
          totals[currency] = (totals[currency] || 0) + amount;
        }
      });
      var rendered = '';
      for (const currency in totals) {
        if (rendered) {
          rendered += ", ";
        }
        rendered += new Intl.NumberFormat("en-US", {
          style: "currency",
          currency: currency,
        }).format(totals[currency]);
      }
      document.querySelector("span#total").textContent = rendered;
    }

    const update_total_listener_selector = "select[id$=-currency], input[id$=-amount], input[id$=-DELETE]";
    document.querySelectorAll(update_total_listener_selector).forEach(el => {
      el.addEventListener("input", update_total);
    });
    update_total();

    const add_button = document.querySelector("#add_line");
    add_button.addEventListener("click", (event) => {
      const total_forms_input = document.querySelector("#id_lines-TOTAL_FORMS");
      const index = parseInt(total_forms_input.getAttribute("value"));
      const empty_form = document.querySelector(".empty-form");
      const new_form = empty_form.innerHTML.replace(/__prefix__/g, index);
      empty_form.parentElement.insertAdjacentHTML("beforeend", new_form);
      const new_row = empty_form.parentElement.lastElementChild;
      total_forms_input.setAttribute("value", index + 1);
      new_row.querySelectorAll(update_total_listener_selector).forEach(el => {
        el.addEventListener("input", update_total);
      });
    });

    const valid_expense_types = JSON.parse(
      document.getElementById("valid_expense_types").textContent);
    document.querySelectorAll("select[id$=-expense_type]").forEach(el => {
      el.querySelectorAll("option").forEach(opt => {
        if (opt.value) {
          opt.disabled = !valid_expense_types.includes(parseInt(opt.value));
        }
      });
    });
  })();
</script>
{% endblock %}
