{% extends "base.html" %}
{% load i18n %}
{% load currency_format %}
{% block page_title %}
{% trans "Claim Request" %}
{% endblock %}
{% block content %}
<h1>{% trans "Claim Request" %}</h1>
<p>
  {% blocktrans with subject=object.subject %}
    You can take ownership of an existing request for {{ subject }}.
  {% endblocktrans %}
</p>
<table class="table table-striped">
  <tr>
    <th>{% trans "Requester" %}</th>
    <td>{{ object.requester_name }}</td>
  </tr>
  <tr>
    <th>{% trans "State" %}</th>
    <td>{{ object.get_state_display }}</td>
  </tr>
  <tr>
    <th>{% trans "Request Type" %}</th>
    <td>{{ object.request_type }}</td>
  </tr>
  <tr>
    <th>{% trans "Description" %}</th>
    <td>{{ object.description|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>{% trans "Currency" %}</th>
    <td>
      {{ object.currency }}
      <i class="bi bi-question-square" data-bs-toggle="tooltip" title="{% trans "If this is not your preferred currency for reimbursal, you can change the currency, once you've claimed the request." %}"></i>
    </td>
  </tr>
  <tr>
    <th>{% trans "Payers" %}</th>
    <td>
      {{ object.payer_group.name }}
      <i class="bi bi-question-square" data-bs-toggle="tooltip" title="{% trans "If this is not the best option to reimburse you, contact them or the approver, once you've claimed the request." %}"></i>
    </td>
  </tr>
  <tr>
    <th>{% trans "Total" %}</th>
    <td class="text-end">
      {{ object.total|currency }}
    </td>
  </tr>
  <tr>
    <th>{% trans "Converted Total" %}</th>
    <td class="text-end">
      {% if object.currency != "USD" %}
        {{ object.total|exchange:"USD" }}
      {% endif %}
      {% if object.currency != "USD" and object.currency != "EUR" %}
        <br>
      {% endif %}
      {% if object.currency != "EUR" %}
        {{ object.total|exchange:"EUR" }}
      {% endif %}
    </td>
  </tr>
</table>
<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Claim' %}">
</form>
{% endblock %}
{% block extra_foot %}
<script>
  "use strict";
  (function() {
    const tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })();
</script>
{% endblock %}
